.svg-turkiye-haritasi {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.svg-turkiye-haritasi svg {
    width: 100%;
    height: auto;
}

.il-isimleri {
    position: absolute;
    z-index: 2;
}

.il-isimleri div {
    font-family: "Open Sans";
    display: inline-block;
    background: #333;
    color: white;
    padding: 8px 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#adiyaman,
#afyonkarahisar,
#amasya,
#artvin,
#bilecik,
#bingol,
#bolu,
#burdur,
#bursa,
#cankiri,
#corum,
#elazig,
#erzincan,
#erzurum,
#gaziantep,
#giresun,
#gumushane,
#isparta,
#kastamonu,
#kayseri,
#kirsehir,
#kocaeli,
#konya,
#kutahya,
#malatya,
#manisa,
#kahramanmaras,
#nevsehir,
#nigde,
#ordu,
#rize,
#sakarya,
#samsun,
#sinop,
#sivas,
#tokat,
#trabzon,
#sanliurfa,
#usak,
#yozgat,
#zonguldak,
#aksaray,
#bayburt,
#karaman,
#kirikkale,
#bartin,
#yalova,
#karabuk,
#kilis,
#osmaniye,
#duzce path {
    cursor: pointer;
    fill: black;
}

#adana,
#agri,
#ankara,
#antalya,
#aydin,
#balikesir,
#bitlis,
#canakkale,
#denizli,
#diyarbakir,
#edirne,
#eskisehir,
#hakkari,
#hatay,
#mersin,
#istanbul,
#izmir,
#kars,
#kirklareli,
#mardin,
#mugla,
#mus,
#siirt,
#tekirdag,
#tunceli,
#van,
#batman,
#sirnak,
#ardahan,
#igdir path {
    cursor: pointer;
    fill: black;
}


/*path {
  cursor: pointer;
  fill: #7b68ee;
}*/


/*#svg-turkiye-haritasi path {
cursor: pointer;
fill: #222;
}*/

#svg-turkiye-haritasi path:hover {
    fill: #333;
}

#guney-kibris {
    pointer-events: none;
}