
@{
    ViewData["Title"] = "SecimTahmin2024";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gelecek Seçim Tahmin Sonuçları</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="~/2024makinefrontlu/text/css" />
    <link rel="stylesheet" href="~/2024makinefrontlu/style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        .hover-button {
            transition: transform 0.3s ease; /* Geçiş efektini ekliyoruz */
        }

            .hover-button:hover {
                transform: scale(1.1); /* Butonun büyümesini sağlıyoruz */
            }
    </style>
</head>

<body>
    <header style="
        background-color: #022032;
        color: white;
        padding: 20px;
        text-align: center;
      ">
        <h1>2024 Tahmin Sonuçları</h1>
    </header>
    <div class="content-wrapper">
        <div class="section">
            <div class="section-header" style="background-color: #022032; color: white">
                <h2>KNN Algoritması Tahmin Sonuçları</h2>
            </div>
            <div class="section-content" style="background-color: white; padding: 20px">
                <div style="display: flex; flex-direction: row;">
                    <div class="containerknnakp">
                        <img src="~/AnaSayfa/img/AKP.jpg" alt="2024 DEM Prediction Image" style="width:130px; border-radius: 50%; border: black solid 1px;">
                        <h1>2024 AKP Oy Tahmini (KNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btnknnakp">Tahmin Yap</button>
                        <div id="loadingknnakp" class="hiddenknnakp">Tahmin yapılıyor...</div>
                        <div id="resultknnakp" class="hiddenknnakp"></div>
                    </div>
                    <div class="containerknnchp">
                        <img src="~/AnaSayfa/img/CHP.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 CHP Oy Tahmini (KNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btnknnchp">Tahmin Yap</button>
                        <div id="loadingknnchp" class="hiddenknnchp">Tahmin yapılıyor...</div>
                        <div id="resultknnchp" class="hiddenknnchp"></div>
                    </div>
                    <div class="containerknndem">
                        <img src="~/AnaSayfa/img/DEM.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 DEM Parti Oy Tahmini (KNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btnknndem">Tahmin Yap</button>
                        <div id="loadingknndem" class="hiddenknndem">Tahmin yapılıyor...</div>
                        <div id="resultknndem" class="hiddenknndem"></div>
                    </div>
                </div>


            </div>
        </div>

        <div class="section">
            <div class="section-header" style="background-color: #022032; color: white">
                <h2>GBR Algoritması Tahmin Sonuçları</h2>
            </div>
            <div class="section-content" style="background-color: white; padding: 20px">
                <div style="display: flex; flex-direction: row;">
                    <div class="containerakp">
                        <img src="~/AnaSayfa/img/AKP.jpg" alt="2024 DEM Prediction Image" style="width:130px; border-radius: 50%; border: black solid 1px;">
                        <h1>2024 AKP Oy Tahmini (GBR)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btnakp">Tahmin Yap</button>
                        <div id="loadingakp" class="hiddenakp">Tahmin yapılıyor...</div>
                        <div id="resultakp" class="hiddenakp"></div>
                    </div>
                    <div class="containerchp">
                        <img src="~/AnaSayfa/img/CHP.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 CHP Oy Tahmini (GBR)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btnchp">Tahmin Yap</button>
                        <div id="loadingchp" class="hiddenchp">Tahmin yapılıyor...</div>
                        <div id="resultchp" class="hiddenchp"></div>
                    </div>
                    <div class="containerdem">
                        <img src="~/AnaSayfa/img/DEM.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 DEM Parti Oy Tahmini (GBR)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btndem">Tahmin Yap</button>
                        <div id="loadingdem" class="hiddendem">Tahmin yapılıyor...</div>
                        <div id="resultdem" class="hiddendem"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-header" style="background-color: #022032; color: white">
                <h2>GNN Algoritması Tahmin Sonuçları</h2>
            </div>
            <div class="section-content" style="background-color: white; padding: 20px">
                <div style="display: flex; flex-direction: row;">
                    <div class="containergnnakp">
                        <img src="~/AnaSayfa/img/AKP.jpg" alt="2024 DEM Prediction Image" style="width:130px; border-radius: 50%; border: black solid 1px;">
                        <h1>2024 AKP Oy Tahmini (GNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btngnnakp">Tahmin Yap</button>
                        <div id="loadinggnnakp" class="hiddengnnakp">Tahmin yapılıyor...</div>
                        <div id="resultgnnakp" class="hiddengnnakp"></div>
                    </div>
                    <div class="containergnnchp">
                        <img src="~/AnaSayfa/img/CHP.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 CHP Oy Tahmini (GNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btngnnchp">Tahmin Yap</button>
                        <div id="loadinggnnchp" class="hiddengnnchp">Tahmin yapılıyor...</div>
                        <div id="resultgnnchp" class="hiddengnnchp"></div>
                    </div>
                    <div class="containergnndem">
                        <img src="~/AnaSayfa/img/DEM.jpg" alt="2024 DEM Prediction Image" style="width:100px; border-radius: 50%;">
                        <h1>2024 DEM  Parti Oy Tahmini (GNN)</h1>
                        <button class="hover-button" style="height: 30px; width: 100px; border-radius: 20px; box-shadow: black; background-color: #022032; color: white;" id="predict-btngnndem">Tahmin Yap</button>
                        <div id="loadinggnndem" class="hiddengnndem">Tahmin yapılıyor...</div>
                        <div id="resultgnndem" class="hiddengnndem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>



    <div class="loader"></div>
    </div>
    <footer style="
        background-color: #022032;
        color: white;
        padding: 20px;
        text-align: center;
      ">
        <p>Tüm Hakları Saklıdır &copy; 2024</p>
    </footer>
    <script src="~/2024makinefrontlu/js/svg-turkiye-haritasi.js"></script>
    <script>
        /*harita*/
        svgturkiyeharitasi();

        function refreshPage() {
            location.reload(); // Sayfayı yenile
        }
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");

            loader.classList.add("loader-hidden");

            loader.addEventListener("transitionend", () => {
                document.body.removeChild("loader;,");
            });
        });
        //harita

        function grafikCiz(oySecimi, oyOrani, divID, renk) {
            var veri = [{
                oy_turu: oySecimi,
                oy_orani: oyOrani,
            },];

            var genislik = 300, //...
                yukseklik = 90;

            var svg = d3
                .select("#" + divID)
                .append("svg")
                .attr("width", genislik)
                .attr("height", yukseklik);

            var y = d3
                .scaleBand()
                .domain(
                    veri.map(function (d) {
                        return d.oy_turu;
                    })
                )
                .range([20, yukseklik - 20])
                .padding(0.1);

            var x = d3.scaleLinear().domain([0, 100]).range([0, genislik]);

            // Çerçeve oluşturma
            svg
                .append("rect")
                .attr("x", x(0)) // Çerçevenin x konumu
                .attr("y", y(oySecimi)) // Çerçevenin y konumu
                .attr("width", x(100)) // Genişlik %100
                .attr("height", y.bandwidth()) // Yükseklik
                .attr("stroke", "black") // Kenarlık rengi
                .attr("stroke-width", 1) // Kenarlık kalınlığı
                .attr("fill", "none"); // Dolgu yok

            svg
                .selectAll(".bar")
                .data(veri)
                .enter()
                .append("rect")
                .attr("class", "bar")
                .attr("y", function (d) {
                    return y(d.oy_turu);
                })
                .attr("height", y.bandwidth())
                .attr("x", 0)
                .attr("width", 0)
                .attr("fill", renk) // Parametre olarak gelen renk kullanılıyor
                .transition()
                .duration(1500)
                .attr("width", function (d) {
                    return x(d.oy_orani);
                });

            svg
                .selectAll("text")
                .data(veri)
                .enter()
                .append("text")
                .attr("x", function (d) {
                    return x(d.oy_orani) + 5;
                })
                .attr("y", function (d) {
                    return y(d.oy_turu) + y.bandwidth() / 2;
                })
                .attr("text-anchor", "start")
                .text(function (d) {
                    return d.oy_orani + "%";
                });

            svg.append("g").call(d3.axisLeft(y));

            svg
                .append("g")
                .attr("transform", "translate(0," + yukseklik + ")")
                .call(d3.axisBottom(x))
                .append("text")
                .attr("x", genislik / 2)
                .attr("y", 40)
                .attr("fill", "#000")
                .attr("text-anchor", "middle")
                .text("Oy Oranı (%)");

            svg
                .append("text")
                .attr("x", genislik / 2)
                .attr("y", 15)
                .attr("text-anchor", "middle")
                .style("font-size", "18px")
                .text(oySecimi);
        }

        grafikCiz("Aday1", 0, "grafik1", "#ff7200");
        grafikCiz("Aday2", 0, "grafik2", "red");
        grafikCiz("Aday3", 0, "grafik3", "blue");
    </script>
    <script src="~/2024makinefrontlu/scriptakpguncel.js"></script>
    <script src="~/2024makinefrontlu/scriptchpguncel.js"></script>
    <script src="~/2024makinefrontlu/scriptdemguncel.js"></script>
    <script src="~/2024makinefrontlu/scriptknnakpguncel.js"></script>
    <script src="~/2024makinefrontlu/scriptknnchpguncel.js"></script>
    <script src="~/2024makinefrontlu/scriptknndem.js"></script>
    <script src="~/2024makinefrontlu/scriptgnnakp.js"></script>
    <script src="~/2024makinefrontlu/scriptgnnchp.js"></script>
    <script src="~/2024makinefrontlu/scriptgnndem.js"></script>


</body>

</html>

